@use "./color-tokens" as *;

$color-links: "var(--color-primary)" !default;
$color-grey-hue: $color-primary !default;
$color-grey-hue: hue($color-grey-hue);
$color-background: scale-color($color-primary, $lightness: 98%) !default;

$font-family: "Noto Sans JP", system-ui, sans-serif !default;
$font-weight-bold: 700 !default;

:root {
  @include color-tokens();

  --color-background: #{$color-background};
  --color-links: #{$color-links};
  --grey-medium: hsl(#{$color-grey-hue}, 15%, 50%);
  --grey-light: hsl(#{$color-grey-hue}, 20%, 85%);
  --font-weight-bold: #{$font-weight-bold};
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: $font-family;
}
